html,body{margin:0;padding:0}
html{font:1em/1.5 sans-serif;background-color:#fff;color:#333;height:100% !important}
body{padding:20px}

label{
    display:block;
}

.theCombo{
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:140px;
    padding:8px;
    padding-right:40px;
    background-image:url('../images/down.png?1368828825');
    background-repeat:no-repeat;
    background-position:95% 50%;
    background-color:green;
    color:white;
    cursor:pointer;
}
