html{
    font: 100%/1.5 sans-serif;
    background-color: white;
    color: black;
    height:100%
}

html,body{
    margin:0;
    padding:0;
}

body{
    padding:20px;
}

label{
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: bold;
}